<h1>Journal Control</h1>
<p>Add flags to journalctl (ex. -b) which gets journal from last boot</p>
<%= form_tag("/search", method: "get") do %>
	<p>
		<%= text_field_tag :flags %>
		<%= submit_tag("Search") %>
	</p>
<% end %>

<table class="table">
	<% @journalrows.each do |journalrow| %>
		<tr>
			<td><%= journalrow.text %></td>
		</tr>
	<% end %>
</table>
